.dialog-title {
    font-size: 0.8rem;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    position: relative;
    
  }
  
  .close-icon {
    cursor: pointer;
    position: relative;
    
  }
  
  .dialog-content {
    overflow-y: auto;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .unit-price-detail {
    padding-left: 2rem;
    flex-grow: 1;
    background-color: #F8F9FB;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .unit-price-detail h6 {
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .list-item {
    padding: 4px 16px;
    font-size: 8px;
    display: block;
  }
  
  .discount-label {
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    color: grey;
  }
  
  .discount-input {
    font-size: 10px;
    width: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    color: grey;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 2px 8px;
  }
  
  .final-total-container {
    padding: 5px 10px;
    margin-left: 0rem;
    background-color: #E4E8EE;
    padding-left: 2rem;
    border-radius: 5px;
    align-items: center;
    margin-top: 5rem;
  }
  
  .final-total-label {
    margin-right: 0.3rem;
  }
  
  .update-button {
    width: 100%;
    margin-bottom: auto;
  }
  